.Menu {
  background: #141127 !important;
  height: 64px !important;
  & :global(.ant-menu-item) {
    padding: 26px 24px 26px !important;
    line-height: 1;
  }
  &:global(.ant-menu-item-selected) {
    background: lighten(#141127, 5%) !important;
  }
}

.Navigation {
  background: #141127 !important;
  height: 64px !important;
}
