.Menu {
  background: #141127 !important;
  height: 48px !important;
  & :global(.ant-menu-item) {
    padding: 19px 24px 19px !important;
    line-height: 1;
  }
  &:global(.ant-menu-item-selected) {
    background: lighten(#141127, 5%) !important;
  }
  &:global(.ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-submenu){
    border-radius: 12px !important;
  }
}

.Navigation {
  background: #141127 !important;
  height: 48px !important;
}
