.GameContainer {
  border-radius: var(--spacing-6, 24px);
  background: #060215;
  margin: 80px 0;
  padding: 34px;
}

.GameActionsContainer {
  border-radius: var(--spacing-6, 24px);
  background: #141127;
  padding: 16px;
}

.GameCard {
  border-radius: var(--spacing-4, 16px);
  background: #4816a0;
  width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: top center;
}

.GameCardHeading {
  position: absolute;
  text-align: center;
  bottom: 20px;
  left: 11%;
  right: 11%;
  color: #fff;
  font-family: "Monument Extended";
  font-size: 32px;
  font-weight: 800;
  line-height: 120%; /* 38.4px */
}

.BetForm {
  margin: 20px 0 0;
  color: #fff !important;
  & label {
    color: #fff !important;
  }
  & input {
    color: #fff;
  }
  :global {
    input {
      color: #fff !important;
      height: 38px;
    }
    .ant-input-number-affix-wrapper {
      height: 40px;
      background-color: transparent;
      border-radius: var(--radius-md, 8px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0px 1px 2px 0px rgba(18, 18, 23, 0.05);
    }
  }
}

.BetFormItem {
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  background: transparent;
}

.BetFormRadio {
  display: flex;
  align-items: center;
  gap: var(--spacing-2, 22px);
  :global {
    .ant-radio-button-wrapper-checked {
      border-color: #fff !important;
      transition: border 0.25s ease-in-out;
    }
  }
  & > label {
    color: #fff !important;
    border: 1px solid #fff;
    transition: border 0.25s ease-in-out;
    border-radius: 8px;
    border-start-end-radius: 8px !important;
    border-end-end-radius: 8px !important;
    border-start-start-radius: 8px !important;
    border-end-start-radius: 8px !important;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: "" !important;
      width: 0 !important;
    }
  }
}

.BetFormBalance {
  color: var(--color-text-secondary, #6c6c89);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  margin-bottom: 24px;
  cursor: pointer;
}

.BetFormButton {
  border-color: rgba(141, 108, 239, 0.14);
  background: rgba(141, 108, 239, 0.14);
  padding: 4px 8px;
  height: auto;
  color: var(--color-text-button-primary-normal, #fff);
  font-size: 9.5px;
  font-weight: 500;
  line-height: 16.254px; /* 171.429% */
}

.BetFormRadioRounds {
  display: flex;
  align-items: center;
  gap: var(--spacing-2, 22px);
  :global {
    .ant-radio-button-wrapper-checked {
      border-color: #fff !important;
      transition: border 0.25s ease-in-out;
    }
  }
  & > label {
    color: #fff !important;
    border: 1px solid #fff;
    transition: border 0.25s ease-in-out;
    border-radius: 8px;
    border-start-end-radius: 8px !important;
    border-end-end-radius: 8px !important;
    border-start-start-radius: 8px !important;
    border-end-start-radius: 8px !important;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: "" !important;
      width: 0 !important;
    }
  }
}

.BetFormButtonActive {
  border-color: #fff;
  background: rgba(141, 108, 239, 0.14);
  font-weight: 700;
}

.BetFormCTA {
  height: 40px;
  border-radius: var(--radius-md, 8px);
  background: var(--color-background-button-primary-normal, #7047eb);
}

.BetFormTotal {
  color: var(--color-text-secondary, #6c6c89);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  margin-bottom: 24px;
}
