.BetwinModal {
}

.Divider {
  margin: 30px 0;
  background: #312a5e;
  height: 1px;
  border: 0;
}

.Title {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%; /* 58.634px */
  // margin-bottom: 20px;
}

.SubTitle {
  /* color: rgba(255, 255, 255, 0.6); */
  font-size: 16px;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  margin-top: 20px;
}

.ListHeading {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.ListValue {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}

.ListValueGreen {
  color: #00ff0a;
}
